* {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 3vh 5vw;
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    width: 100px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;

}

nav button {
    border: solid 0.1rem #2d96c8;
    color: #2d96c8;
    border-radius: 1rem;
    background-color: white;
    height: 4vh;
    width: 8vw;

}

nav :last-child {
    color: white;
    background-color: #2d96c8;
    border: solid 0.1rem #2d96c8;
    border-radius: 1rem;
    height: 4vh;
    width: 8vw;
}

.section-1 {
    display: flex;
    width: 75vw;
    margin: auto;

    padding: 0 5vw 0 10vw;
    border-top: solid 0.1rem #8e8e81;
}

.article-1 {
    width: 30vw;

}

h1 {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 8vh 0 2vh 0;
}

.article-1 h3 {
    font-size: 1.1rem;
    color: #ef5466;
    padding-bottom: 5vh;
}

.button-3 {
    border: solid 0.1rem #ef5466;
    border-radius: 1rem;
    height: 4vh;
    width: 9vw;
    background-color: #ef5466;
    color: white;
    margin-right: 1vw;
}

.button-4 {
    border: solid 0.1rem #8e8e81;
    border-radius: 1rem;
    height: 4vh;
    width: 9vw;
    color: #8e8e81;
    background-color: white;

}

.background {
    width: 29vw;
    height: 38vh;
    background-image: url('img/hero.png');
    background-repeat: repeat;
    background-size: cover;
    margin-left: 5vw;

}

.section-2 {
    width: 75vw;
    margin: auto;
    display: flex;
    background-color: #f9f9f9;
    padding: 5vh 9vw 5vh 8vw;
}

.phone-pic {
    width: 17vw;
}

.titre {
    font-size: 1.7rem;
    padding-left: 4vw;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-bottom: 7vh;
}

.container-1 {
    display: flex;
    gap: 2vw;
    padding-left: 4vw;

}

.container-1 h5 {
    font-size: 1rem;
    font-weight: 500;


}

.article-box p {
    font-size: 0.7rem;
    padding: 4vh 0 4vh 0;
}

.section-3 {
    width: 75vw;
    margin: auto;
    background-color: #ef5466;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 4vh 4vw 4vh 0;
}

.icon {
    width: 3vw;
    margin: 2vh 0 0 1vw;
}

.article-rose {
    color: white;
}

.article-rose h4 {
    font-size: 1.3rem;


}

.article-rose p {
    font-size: 0.8rem;
    padding-top: 2vh;
}