* {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 3vh 5vw;
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    width: 100px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: 600;

}

nav button {
    border: solid 0.1rem #2d96c8;
    color: #2d96c8;
    border-radius: 1rem;
    background-color: white;
    height: 4vh;
    width: 8vw;

}

nav :last-child {
    color: white;
    background-color: #2d96c8;
    border: solid 0.1rem #2d96c8;
    border-radius: 1rem;
    height: 4vh;
    width: 8vw;
}

.section-1 {
    display: flex;
    width: 75vw;
    margin: auto;

    padding: 0 5vw 0 10vw;
    border-top: solid 0.1rem #8e8e81;
}

.article-1 {
    width: 30vw;

}

h1 {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 8vh 0 2vh 0;
}

.main-titre {
    display: none
}

.red-title {
    display: none;
}

.article-1 h3 {
    font-size: 1.1rem;
    color: #ef5466;
    padding-bottom: 5vh;
}

.button-3 {
    border: solid 0.1rem #ef5466;
    border-radius: 1rem;
    height: 4vh;
    width: 9vw;
    background-color: #ef5466;
    color: white;
    margin-right: 1vw;
}

.button-4 {
    border: solid 0.1rem #8e8e81;
    border-radius: 1rem;
    height: 4vh;
    width: 9vw;
    color: #8e8e81;
    background-color: white;

}


.background {
    width: 29vw;
    height: 38vh;
    background-image: url('img/hero.png');
    background-repeat: repeat;
    background-size: cover;
    margin-left: 5vw;

}

.section-2 {
    width: 75vw;
    margin: auto;
    display: flex;
    background-color: #f9f9f9;
    padding: 5vh 0 5vh 8vw;
}

.phone-pic {
    width: 17vw;
}

.titre {
    font-size: 1.7rem;
    padding-left: 4vw;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-bottom: 4vh;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 35vw;
    margin-left: 3vw;

}

.container-1 article {
    width: 15vw;
}

.container-1 h5 {
    font-size: 1rem;
    font-weight: 600;
}

.article-box p {
    font-size: 0.7rem;
    padding: 3vh 0 2vh 0;
    color: #8e8e81;
}

.section-3 {
    width: 75vw;
    margin: auto;
    background-color: #ef5466;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 4vh 4vw 4vh 0;
}

.icon {
    width: 3vw;
    margin: 2vh 0 0 1vw;
}

.article-rose {
    color: white;
}

.article-rose h4 {
    font-size: 1.3rem;


}

.article-rose p {
    font-size: 0.8rem;
    padding-top: 2vh;
}

.section-4 {
    text-align: center;
    width: 75vw;
    margin: auto;

}

.section-4 article {
    border: 0.2rem solid #f9f9f9;
    box-shadow: 4px 9px 14px 0px #8e8e81;
}

.profite {
    font-size: 2rem;
    text-align: center;
    padding: 7vh 0 5vh 0;

}

.recom {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1vh;
    color: #8e8e81;
}

.recom-2 {
    display: none;
}

.triangle-2 {
    display: none;
}

.triangle {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 2vh solid #2d96c8;
    border-right: 2vh solid transparent;
    border-left: 2vh solid transparent;
    text-align: center;
    padding-bottom: 0.5vh;
}

.abonnement {
    width: 75vw;
    display: flex;
    justify-content: center;
}

.article-blue {
    background-color: #2d96c8;
    color: white;
}

.abonnement h6 {
    font-size: 1.2rem;
    padding: 2vh 2vw 3vh 2vw;
    font-weight: 500;
}

.abonnement p {
    font-size: 0.9rem;
    padding-bottom: 2vh;
}

.abonnement .prix {
    font-size: 1.4rem;
    font-weight: 600;
}

.abonnement ul li {
    padding-left: 2vw;
    text-align: start;
    padding: 2vh 3vw 0.7vh 2vw;
}

.gris {
    color: #8e8e81;
}

.claire {
    color: #e0d7bf
}

.positif {
    color: #8e8e81;
    padding-right: 0.5vw;

}

.negatif {
    color: #8e8e81;
    font-size: 1.3rem;
    padding-right: 0.5vw;
}

.offert {
    font-weight: 500;
    padding-top: 5vh;
}

.offert-blue {
    font-weight: 500;
    padding-top: 6vh;
    color: #2d96c8;
}

.button-gris {

    border: solid 0.1rem #8e8e81;
    color: white;
    border-radius: 1rem;
    background-color: #8e8e81;
    height: 4vh;
    width: 8vw;
    margin: 8vh 0 3vh 0;

}

.button-rose {
    border: solid 0.1rem #ef5466;
    color: white;
    border-radius: 1rem;
    background-color: #ef5466;
    height: 4vh;
    width: 8vw;
    margin: 1vh 0 3vh 0;

}

.button-7 {
    border: solid 0.1rem #2d96c8;
    color: #2d96c8;
    border-radius: 1rem;
    background-color: white;
    height: 4vh;
    width: 8vw;

}

.info {
    display: block;
    text-decoration: none;
    color: #2d96c8;
    padding-bottom: 5vh;
    font-size: 0.8rem;
    font-weight: 600;
}

.info-blue {
    color: white;
}

.descriptif {
    margin: auto;
    width: 60vw;
    text-align: center;
    font-size: 0.5rem;
    color: #8e8e81;
    padding: 7vh 0 4vh 0;
}

.section-6 {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh
}

.horizontal {
    display: flex;
    justify-content: space-between;
    background-color: #e8e7e6;
    padding: 3vh 10vw 3vh 10vw;
    height: 14vh;
}

.annuel {
    font-size: 1.3rem;
    padding-bottom: 1vh;

}

.premium {
    font-size: 0.9rem;
    padding-bottom: 0.2vh;


}

.horizontal a {
    text-decoration: none;
    color: #2d96c8;
    font-size: 0.6rem;
}

.button-last {
    border: solid 0.1rem #696868;
    color: #696868;
    border-radius: 1rem;
    background-color: transparent;
    height: 4vh;
    width: 8vw;
    margin-top: 2vh;
    font-size: 0.8em;
}

.percent {
    color: #ef5466;
    font-weight: 700;
}

footer {
    width: 75vw;
    margin: auto;
    background-color: #1b1b1c;
}

footer p {
    font-size: 0.7rem;
    color: white;
}

.logo-footer {
    display: flex;
    justify-content: center;
    padding: 5vh 0 5vh 0;
    gap: 2vw;
}

.store {
    width: 8vw;
}

.footer-box {
    display: flex;
    width: 75vw;
    justify-content: space-evenly;
    padding: 0 8vw 5vh 4vw;
    gap: 3vw;
}

.footer-box p {
    font-size: 0.7rem;
    color: #8e8e81;
    padding-bottom: 3vh;

}

.footer-box a {
    font-size: 0.8rem;
    font-weight: 100;
    text-decoration: none;
    color: white;

}

.footer-box ul li {
    padding-bottom: 2vh;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 7vw 5vh 6vw;
}

.menu {
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
}

.logo-2 {
    width: 10vw;
    color: aliceblue;
}

.icons {
    color: white;
    font-size: 1rem;
    padding-left: 0.3rem;
}

select {
    width: 5rem;
    font-size: 0.8rem;
    color: white;
    background-color: #1b1b1c;
    border: transparent;
}

.copyright {
    color: #8e8e81;
}

.burger {
    display: none
}


@media screen and (max-width: 768px) {
    header {
        width: 95vw;
        justify-content: end;
        align-items: center;
        padding: 3vh 0 2vh 0;
    }

    nav {
        display: none;
    }

    .logo-nav {
        margin-right: 15vw;
        width: 30vw;
    }

    .burger {
        display: block;
        width: 4rem;

    }

    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        border-top: solid 0.2rem #c5d8e0;
        padding: 0;
    }

    .button-3 {
        display: block;
        margin: auto;
        width: 50vw;
    }

    .button-4 {
        display: block;
        margin: auto;
        width: 50vw;
        margin-top: 2vh;
    }

    .article-1 {
        width: 95vw;
    }

    .background {
        margin-top: 1vh;
        width: 95vw;
    }

    h1 {
        display: none;

    }

    .main-titre {
        display: block;
        font-size: 1.8rem;
        padding: 3vh 0 3vh 0;
        text-align: center;
    }

    h3 {
        display: none;

    }

    .red-title {
        display: block;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 600;

    }

    .section-2 {
        width: 95vw;
    }

    .phone-pic {
        display: none;
    }


    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .container-1 article {
        width: 78vw;
    }

    .article-box br {
        display: none;
    }

    .article-box h5 {
        font-size: 1.2rem;

    }

    .article-box p {
        font-size: 0.8rem;
        color: #807675;
    }

    .section-3 {
        display: flex;
        flex-direction: column-reverse;
        width: 95vw;
        align-items: center;
        text-align: center;
        padding: 0 3vw 0 2.6vw;
    }

    .section-3 p br {
        display: none;
    }

    .article-rose h4 {
        font-size: 2rem;
        padding: 3vh 0 2vh 0;
    }

    .article-rose p {
        font-size: 0.9rem;
        line-height: 3vh;

    }

    .icon {
        width: 8vw;
        padding-bottom: 5vh;
    }

    .section-4 {
        width: 95vw;
    }

    .profite {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .recom {
        display: none;
    }

    .triangle {
        display: none;
    }

    .abonnement {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .abonnement article {
        width: 80vw;
    }

    .recom-2 {
        display: block;
        font-size: 5rem;
        text-align: center;
        text-transform: uppercase;
        margin: 4vh 0 2vh 0;
        color: #8e8e81;
        font-weight: 700;
    }

    .triangle-2 {
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 2vh solid #2d96c8;
        border-right: 2vh solid transparent;
        border-left: 2vh solid transparent;
        text-align: center;
        padding-bottom: 2vh;


    }

    .button-gris {
        width: 60vw;
        height: 6vh;
        border-radius: 1.5rem;
        font-size: 1.4rem;
    }

    .abonnement a {
        font-size: 1.2rem;
    }

    .button-rose {

        width: 60vw;
        height: 6vh;
        border-radius: 1.5rem;
        font-size: 1.4rem;
    }

    .article-blue {
        margin-bottom: 2.5vh;
    }

    .article-blue .offert {
        font-size: 1.2rem;
    }

    .article-4-blan .offert-blue {
        font-size: 1.2rem;

    }

    .abonnement h6 {
        font-size: 2rem;
    }

    .abonnement .mois {
        font-size: 1.2rem;
    }

    .descriptif {
        font-size: 0.7rem;
        width: 85vw;
        text-align: justify;
    }

    .section-6 {
        width: 95vw;

    }

    .horizontal {
        display: flex;
        flex-direction: column;
        height: 20vh;
        text-align: center;
        font-weight: 700;
    }

    .horizontal a {
        font-size: 1rem;
    }

    .button-last {

        border: solid 0.2rem #696868;
        color: #696868;
        border-radius: 1rem;
        background-color: transparent;
        height: 4vh;
        width: 50vw;
        margin-top: 2vh;
        font-size: 0.8em;
        margin: auto;

    }

    .premium {
        display: none;
    }

    footer {
        width: 95vw;
    }

    .logo-footer {
        width: 95vw;
        padding: 10vh 0 6vh 0;
    }

    .footer-box {
        width: 95vw;
        display: flex;
        flex-direction: column;
    }

    .store {
        width: 40vw;
    }

    .footer-box p {
        font-size: 1.5rem;
        padding: 6vh 0 5vh 0;
    }

    .footer-box a {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .footer-icons {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        font-size: 2.2rem;
        padding: 6vh 4vw 6vh 4vw;
    }

    .logo-2 {
        width: 50vw;
        padding-bottom: 6vh;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 1vw;
        padding-bottom: 10vh;
    }




}